<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../img/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>

      This site was created by Shah the humble and handomse guy. I use
      api.weatherstack.com and api.mapbox.com for the API. Below is random image generator which will display diff image
      everytime you load the page.
    </p>


    <img class="portrait" src="https://source.unsplash.com/random/250x250" alt="">
  </div>

  {{>footer}}
</body>

</html>